* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  display: flex;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#outerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  gap: 15px;
}

span {
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: green;
  color:white;
  font-size: x-large;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgba(0, 128, 0, 0.5);
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  height: 90%;
  width: 100%;
}

#img {
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  height: 350px;
  width: 350px;
}

img {
  box-shadow: 0px 0px 5px gray;
  width: 100%;
}

h2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#status {
  position: absolute;
  top: 50%;
  right: 50%;
}