* {
  margin:20px;
  user-select: none;

}

#content {
  height:300px;
  width:300px;
  background-color: rgb(183, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color:white;
}

button1, button2 {
  background-color: antiquewhite;
  padding: 0.7rem;
  border-radius: 8px;
  margin-right: 75px;
  cursor:pointer;
}

#form {
  background-color: rgb(17, 0, 255);
}

#form input,button {
  padding:10px 20px;
}