*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  border:none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#notesapp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 140, 255);
  padding: 0% 0.5% 3%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  width: 100%;
  color:white;
  text-align: center;
  font-size: 1.7rem;
}

main {
  display: flex;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 92vh;
  width: 30vw;
  text-align: center;
  color:rgb(255, 0, 0);
}

#left input{
  width: 90%;
  height: 7%;
  padding: 5%;
  border-radius: 1rem;
  background: rgb(128, 128, 128);
  color:white;
  font-size: 2rem;
}

#left input::placeholder {
  color:white;
  font-size: 2rem;
  text-align: center;
}

#left textarea {
  height: 50%;
  width: 90%;
  padding: 14% 9%;
  line-height: 18px;
  border-radius: 1rem;
  font-size: 15px;
  background: url(https://marketplace.canva.com/EAFjTMv8wd0/1/0/1236w/canva-white-grey-minimalist-lines-simple-blank-notebook-lUM-leXmVgE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#left button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(255, 140, 0);
  color:white;
  cursor: pointer;
  width: 80%;
  height: 5%;
  font-size: x-large;
  font-weight: 800;
}

#left button:active {
  background-color: rgba(255, 140, 0, 0.5);
  width: 50%;
}

textarea::placeholder {
  font-size: 1rem;
}

#right {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding:2%;
  height: 92vh;
  width: 70vw;
  overflow: auto;
  background-color: white;
}

#right .notes {
  height: 38%;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background-color: aliceblue;
  align-items: center;
}

.notes context {
  height: 15%;
  width: 100%;
  color:black;
  background-color: rgb(200, 255, 0);
  padding: 5px;
}

.notes description {
  height: 85%;
  width: 100%;
  padding: 5px;
}

.notes button {
  background:rgb(255, 0, 0);
  color:white;
  padding:4px;
  cursor:pointer;
  width: 50%;
  margin: 5px;
  border-radius: 5px;
}

.notes button:active {
  transform: scale(95%);
}