@import "tailwindcss";

* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  border:none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent{
  width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

img {
  object-fit:cover;
}

button {
  cursor:pointer;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.199);
  padding:3px 5px;
  border-radius: 5px;
  color:rgba(128, 128, 128, 0.9);
  font-weight: 600;
}

.save:focus {
  background-color:rgba(128, 128, 128, 0.4);
  color:black;
}

span {
  color:grey;
  font-size: 11px;
}

#logo {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#details {
  display:flex;
  flex-direction: column;
  justify-content: left;
  line-height: 25px;
  margin-bottom: 80px;
}

.card2 img {
  height:50px;
  width:50px;
  border-radius: 50%;
  border: 1px solid grey;
  padding:7px;
}

.card2 {
  width:300px;
  height: 350px;
  background-color: white;
  /* box-shadow: 0px 0px 20px grey; */
  border-radius: 20px;
  padding:20px;
  font-weight: 600;
  margin:20px;
}

.card2:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

@keyframes size {
  100% {
    transform: scale(1.05);
  }
}

.card2 #enroll {
  padding: 5px;
  width:100px;
  color:white;
  background-color: black;
  border-radius: 5px;
  border:none;
}

.card2 .jobOption {
  background-color: rgba(128, 128, 128, 0.199);
  color:black;
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 5px;
}

#bottom {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-top:1px solid grey;
  padding-top:10px;
}

#priceXadd {
  display:flex;
  flex-direction: column;
}